<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.traveltrack.vitor.travelapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Orcamentour"
        tools:replace="android:icon,android:theme" >
        <meta-data
            android:name="DATABASE"
            android:value="travelapp.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.traveltrack.vitor.travelapp" />

        <activity
            android:name="com.traveltrack.vitor.travelapp.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.TravelIndexActivity"
            android:label="@string/title_activity_travels"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.TravelActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_travel" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.NewTravelActivity"
            android:label="@string/title_activity_new_travel"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.NewExpenseActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_new_expense" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.ExpensesGraphActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.TravelsGraphActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_travels_graph" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.CategoriesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_categories" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.EditTravelActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_travel" >
        </activity>
        <activity
            android:name="com.traveltrack.vitor.travelapp.EditExpenseActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_expense" >
        </activity>
    </application>

</manifest>
